{% extends 'layout.html'%} {% block body%}
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">For Today</div>
        <div class="card-body">
          <div class="card">
            <div class="card-body">This is some text within a card body.</div>
          </div>
          <div class="card">
            <div class="card-body">This is some text within a card body.</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">For this week</div>
        <div class="card-body">
          <div class="card">
            <div class="card-body">This is some text within a card body.</div>
          </div>
          <div class="card">
            <div class="card-body">This is some text within a card body.</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
