<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>To Do</title>
    <!-- Bootstrap css-->
    <link
      href="{{url_for('static',filename='css/bootstrap.min.css')}}"
      rel="stylesheet"
    />
    <!-- Custom css-->
    <link
      href="{{url_for('static',filename='css/main.css')}}"
      rel="stylesheet"
    />
    </head>
  </head>
  
  <body>
    <!-- Nav bar -->
    <header>{% include 'includes/_navbar.html'%}</header>

    <main>
      <div class="container">
        {% block body%} {% endblock%}
        <!-- Footer -->
        {% include 'includes/_footer.html' %}
      </div>
    </main>
  </body>
</html>
